<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
  <% include navbar%>

  <div class="container">
    <h1>Admin</h1>

    <div class="row">
        <div class="col-md-4">
        <h3>View Players</h3>

        <form class="form" id="view-players">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-players-player-jersey" checked>Jersey
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-players-player-position" checked>Position
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-players-player-suspended" checked>Suspended
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-players-player-injured" checked>Injured
            </label>
          </div>
          <hr>
          <div class="form-group">
            <input type="default" class="form-control" id="view-players-where-suspended" placeholder="Suspended">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="view-players-where-injured" placeholder="Injured">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-players-deleted">Deleted
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="col-md-4">
        <h3>View Fixtures</h3>

        <form class="form" id="view-fixtures">
          <div class="form-group">
            <input type="default" class="form-control" id="view-fixtures-fixture-date" placeholder="Date">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="col-md-4">
        <h3>View Teams</h3>

        <form class="form" id="view-teams">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-teams-deleted">Deleted
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>View Coaches</h3>

        <form class="form" id="view-coaches">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-coaches-deleted">Deleted
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="col-md-4">
        <h3>View Managers</h3>

        <form class="form" id="view-managers">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="view-managers-deleted">Deleted
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <hr>
<% if (level =="admins"){%>
    <div class="row">
      <div class="col-md-4">
        <h3>Add Player</h3>
        <form class="form" id="add-player">
          <div class="form-group">
            <input type="default" class="form-control" id="add-player-team-id" placeholder="Team ID">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="add-player-name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="add-player-jersey" placeholder="Jersey Number">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="add-player-position" placeholder="Position">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-4">
        <h3>Add Fixture</h3>
        <form class="form" id="add-fixture">
          <div class="form-group">
            <input type="default" class="form-control" id="add-fixture-date" placeholder="Date">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="add-fixture-hometeam-id" placeholder="Home Team ID">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="add-fixture-awayteam-id" placeholder="Away Team ID">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>Update Players</h3>
        <form class="form" id="update-players">
          <div class="form-group">
            <input type="default" class="form-control" id="edit-players-team-id" placeholder="New Team ID">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="edit-players-jersey-number" placeholder="New Jersey Number">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="edit-players-position" placeholder="New Position">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="edit-players-suspended">Suspended
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="edit-players-injured">Injured
            </label>
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="edit-players-player-id" placeholder="Enter Player ID">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-4">
        <h3>Update Fixtures</h3>
        <form class="form" id="update-fixtures">
          <div class="form-group">
            <input type="default" class="form-control" id="update-fixtures-date" placeholder="Date">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="update-fixtures-hometeam-id" placeholder="Home Team ID">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="update-fixtures-awayteam-id" placeholder="Away Team ID">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="update-fixtures-hometeam-score" placeholder="Home Team Score">
          </div>
          <div class="form-group">
            <input type="default" class="form-control" id="update-fixtures-awayteam-score" placeholder="Away Team Score">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-md-4">
            <h3>Delete Fixture</h3>
            <form class="form" id="delete-fixture">
              <div class="form-group">
                <input type="default" class="form-control" id="delete-fixture-date" placeholder="Date">
              </div>
              <div class="form-group">
                <input type="default" class="form-control" id="delete-fixture-hometeam-id" placeholder="Home Team ID">
              </div>
              <div class="form-group">
                <input type="default" class="form-control" id="delete-fixture-awayteam-id" placeholder="Away Team ID">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  </div>
  <%}%>
  <script>
  // View Players Code
  $("#view-players").submit(function(event) {
    var attrs = [];

    if ($("#view-players-player-jersey:checked").val()) {
    	attrs.push('jersey_number');
    }

    if ($("#view-players-player-position:checked").val()) {
    	attrs.push('position');
    }

    if ($("#view-players-player-suspended:checked").val()) {
    	attrs.push('suspended');
    }

    if ($("#view-players-player-injured:checked").val()) {
    	attrs.push('injured');
    }

    if (attrs.length == 0)
      attrs = "-";
    else
      attrs = attrs.join("-");

    var suspendedVal = ($("#view-players-where-suspended").val() == "1") ? $("#view-players-where-suspended").val() : "0";
    var injuredVal = ($("#view-players-where-injured").val() == "1") ? $("#view-players-where-injured").val() : "0";

    location.href = "/players/view/" + attrs + "/suspended-injured/eq-eq/" + suspendedVal + "-" + injuredVal + "/and";  

    event.preventDefault();
  });

  $("#view-fixtures").submit(function(event) {
    // TODO: Build up the url based on info from id'd inputs in the form
    if ($("#view-fixtures-fixture-date").val() == "") {
        location.href = '/fixtures';
    } else {
        location.href = '/fixtures/' + $("#view-fixtures-fixture-date").val();
    }
    event.preventDefault();
  });

  $("#view-teams").submit(function(event) {
    if ($("#view-teams-deleted:checked").val()) {
        location.href = '/teams/include-deleted'
    } else {
        location.href = '/teams';
    }

    event.preventDefault();
  });

  $("#view-coaches").submit(function(event) {
    if ($("#view-coaches-deleted:checked").val()) {
        location.href = '/coaches/include-deleted'
    } else {
        location.href = '/coaches';
    }

    event.preventDefault();
  });

  $("#view-managers").submit(function(event) {
    if ($("#view-managers-deleted:checked").val()) {
        location.href = '/managers/include-deleted'
    } else {
        location.href = '/managers';
    }

    event.preventDefault();
  });

  $("#edit-players-player-id").prop('required',true);

  $("#update-players").submit(function(event) {
      var teamID = $("#edit-players-team-id").val();
      var playerID = $("#edit-players-player-id").val();
      var jersey_number = $("#edit-players-jersey-number").val();
      var position = $("#edit-players-position").val();
      var isSuspended = ($("#edit-players-suspended:checked").val()) ? "1" : "0";
      var isInjured = ($("#edit-players-injured:checked").val()) ? "1" : "0";
      
      location.href = '/players/update/tid:' + teamID + '/pid:' + playerID + '/jn:' + jersey_number + '/pos:' + position
        + '/sus:' + isSuspended + '/inj:' + isInjured;

      event.preventDefault();
  });

  $("#add-player-team-id").prop('required', true);
  $("#add-player-name").prop('required', true);
  $("#add-player-jersey").prop('required', true);
  $("#add-player-position").prop('required', true);

  $("#add-player").submit(function(event) {
      var teamID = $("#add-player-team-id").val();
      var name = $("#add-player-name").val();
      var jersey_number = $("#add-player-jersey").val();
      var position = $("#add-player-position").val();
      
      location.href = '/players/add/' + teamID + '/' + name + '/' + jersey_number + '/' + position;

      event.preventDefault();
  });

  $("#update-fixtures-date").prop('required',true);
  $("#update-fixtures-hometeam-id").prop('required',true);
  $("#update-fixtures-awayteam-id").prop('required',true);
  $("#update-fixtures-hometeam-score").prop('required',true);
  $("#update-fixtures-awayteam-score").prop('required',true);

  $("#update-fixtures").submit(function(event) {
    var date = $("#update-fixtures-date").val();
    var homeTeamID = $("#update-fixtures-hometeam-id").val();
    var awayTeamID = $("#update-fixtures-awayteam-id").val();
    var homeScore = $("#update-fixtures-hometeam-score").val();
    var awayScore = $("#update-fixtures-awayteam-score").val();

    location.href = '/fixtures/result/edit/' + date + '/' + homeTeamID + '/' + awayTeamID + '/' + homeScore + '/'
      + awayScore;

    event.preventDefault();
  });

  $("#add-fixture-date").prop('required',true);
  $("#add-fixture-hometeam-id").prop('required',true);
  $("#add-fixture-awayteam-id").prop('required',true);

  $("#add-fixture").submit(function(event) {
    var date = $("#add-fixture-date").val();
    var homeTeamID = $("#add-fixture-hometeam-id").val();
    var awayTeamID = $("#add-fixture-awayteam-id").val();

    location.href = '/fixtures/add/' + date + '/' + homeTeamID + '/' + awayTeamID;

    event.preventDefault();
  });

  $("#delete-fixture").submit(function(event) {
    var date = $("#delete-fixture-date").val();
    var homeTeamID = $("#delete-fixture-hometeam-id").val();
    var awayTeamID = $("#delete-fixture-awayteam-id").val();

    location.href = '/fixtures/delete/' + date + '/' + homeTeamID + '/' + awayTeamID;

    event.preventDefault();
  });

  </script>
</body>
</html>
