<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <% include navbar%>
    <div class="admin-view">
	    <h1>Admin</h1>
	    <div class="container">
	    	<h4><u>View</u></h4>
	    	<h5>Players</h5>
	    	<h5>Coaches</h5>
	    	<h5>Teams</h5>
	    	<h5>Schedule</h5>
	    	<button id="submit" onClick="" lass="btn btn-xl btn-info">Search</button>
	    </div>
	    <div class="container">
	    	<h4><u>Update</u></h4>
	    	<h5>Players</h5>
	    	<h5>Coaches</h5>
	    	<h5>Teams</h5>
	    	<h5>Schedule</h5>
	    	<button id="submit" onClick="" lass="btn btn-xl btn-info">Search</button>
	    </div>
	    <div class="container">
	    	<h4><u>Insert</u></h4>
	    	<h5>Players</h5>
	    	<h5>Coaches</h5>
	    	<h5>Teams</h5>
	    	<h5>Schedule</h5>
	    	<button id="submit" onClick="" lass="btn btn-xl btn-info">Search</button>
	    </div>
	    <div class="container">
	    	<h4><u>Delete</u></h4>
	    	<h5>Players</h5>
	    	<h5>Coaches</h5>
	    	<h5>Teams</h5>
	    	<h5>Schedule</h5>
	    	<button id="submit" onClick="" lass="btn btn-xl btn-info">Search</button>
	    </div>
	</div>
  </body>
</html>
