<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">NBA League</a>
  <div class="nav navbar-nav navbar-right">
    <a href="/logout" class="navbar-brand">Logout</a>
  </div>
</nav>
