<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <% include navbar.ejs%>
      <% if (results.length > 0) { %>
        <table class="table table-hover">
          <tr>
            <% for(var key in results[0]) { %>
              <th><%= key %></th>
            <% } %> 
          </tr>

          <% results.forEach(function(result) { %>
            <tr>
              <% Object.keys(result).forEach(function(key) { %>
                <td><%= result[key] %></td>
              <% }); %>
            </tr>
          <% }); %>
        </table>
      <% } else { %>
        <h3>No results</h3>
      <% } %>
  </body>
</html>
